@font-face {
    font-family: "blueprint-icons-20";
    src: url("./blueprint-icons-20.ttf?9050e649762ac7aadef9d51447060a98") format("truetype"),
url("./blueprint-icons-20.eot?9050e649762ac7aadef9d51447060a98#iefix") format("embedded-opentype"),
url("./blueprint-icons-20.woff2?9050e649762ac7aadef9d51447060a98") format("woff2"),
url("./blueprint-icons-20.woff?9050e649762ac7aadef9d51447060a98") format("woff");
}
