@font-face {
    font-family: "blueprint-icons-16";
    src: url("./blueprint-icons-16.ttf?350ff8afe3450f80569b34d52370360b") format("truetype"),
url("./blueprint-icons-16.eot?350ff8afe3450f80569b34d52370360b#iefix") format("embedded-opentype"),
url("./blueprint-icons-16.woff2?350ff8afe3450f80569b34d52370360b") format("woff2"),
url("./blueprint-icons-16.woff?350ff8afe3450f80569b34d52370360b") format("woff");
}
